aiosmtplib
annotated-types
anyio
blinker
click
colorama
dnspython
email-validator
fastapi
fastapi-mail
h11
idna
Jinja2
MarkupSafe
pydantic
pydantic-settings
pydantic_core
python-dotenv
sniffio
starlette
typing-inspection
typing_extensions
uvicorn
